body {
    margin      : 0;
    width       : 500px;
    height      : 500px;
    font-family : verdana;
}

#gadgetContent {
}

#mainTable {
    border          : 2px solid red;
    table-layout    : auto;
    width           : 100%;
}

td.rowHeader {
    text-align    : right;
    word-wrap     : break-word;
    font-weight   : bold;
    width         : 50px;
}

td.colHeader {
    text-align    : center;
    word-wrap     : break-word;
    font-weight   : bold;
    width         : 50px;    
}

td.cellCheck {
    text-align    : center;
    width         : 50px;
}