#mainBody {
    width   : 500px;
    height  : 500px;
    padding : 0px 0px 0px 0px;
    margin  :  0px 0px 0px 0px;
}

#mainTable {
/*    table-layout    : fixed;
    border-collapse : collapse;
*/
}

.rowHeader {
    /* transform     : rotate(270deg); */
    text-align    : right;
    word-wrap     : break-word;
    font-weight   : bold;
    width         : 150px;
}

.colHeader {
    text-align    : center;
    word-wrap     : break-word;
    font-weight   : bold;
    width         : 150px;    
}

.cellCheck {
    text-align    : center;
    width         : 150px;
}

#test {
    width : 200px;
}